#client_logos {
   display: inline-block;
   width:100%;
   padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;

   }

html {
    text-indent: 10%;
}

#Paragraph {
    text-indent: 10%;
}

#header {
   padding-bottom: 10px;
}

p{
  margin-left:10px;
  color:grey;
}

h2{
  color:#666666;
}

#heading2{
  color: #6699CC;
  font-weight: normal;
}
