body{
margin-left:  18%;
margin-top: 5%;
  margin-bottom: 10%;
}

h1{
  font-family:monospace;
  font-size: 40px;
}

.Columns {
 display: inline-block;
 height: 350px;
 width: 350px;
 text-align: center;
 border-radius: 20px;
 padding: 20px;
 float:left;
 border: 5px solid #C0C0C0;
}

.playerDisplay{
  background-color: white;
  display:inline-block;
  padding: 5px;
  font-family:monospace;
}

#displayWinner{
  width: 200px;
  height: 50px;
  padding: 25px;
  font-size: 30px;
  text-align: center;
  margin-left: 50px;
  font-style: italic;
  color:#336699;
  text-decoration-color: blue;
  font-family:monospace;
}

#Column1,#Column2,#Column4,#Column5{
  background-color: white;
  display: inline-block;
  height: 100px;
  width: 100px;
  line-height: 100px;
  font-size: 110px;
  border-bottom:5px solid #C0C0C0;
  border-right:5px solid #C0C0C0;
  color:black;
  font-family:monospace;
  vertical-align: middle;
}

#Column3, #Column6{
  background-color: white;
  display: inline-block;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 110px;
  border-bottom:5px solid #C0C0C0;
  font-family:monospace;
  vertical-align: middle;
}


#Column7, #Column8{
  background-color: white;
  display: inline-block;
  height: 100px;
  width: 100px;
  line-height: 100px;
  font-size: 110px;
  border-right:5px solid #C0C0C0;
  color:black;
  font-family:monospace;
  vertical-align: middle;
}

#Column9{
  background-color: white;
  display: inline-block;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 110px;
  font-family:monospace;
  vertical-align: middle;
  border-right:5px solid white;
}

#Column1:hover,#Column2:hover,#Column3:hover,#Column4:hover,#Column5:hover,#Column6:hover,#Column7:hover,#Column8:hover,#Column9:hover {
    background-color: #C0C0C0;
    color:  white;
}

#Reset{
   background-color: white;
   display:inline-block;
   padding:10px;
   color: #336699;
   font-family:monospace
}

#Reset:hover, #music:hover {
  background-color: #C0C0C0;
  border-radius: 50px;;
  color:white;
}

#music{
   background-color: white;
   display:inline-block;
   padding:10px;
   color: #336699;
   font-family:monospace
}

#Win1, #Win2, #Win3, #Win4, #Win5, #Win6, #Win7, #Win8, #Win9{
  background-color: #C0C0C0;
  color: white;
  display: inline-block;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 110px;
  font-family:monospace;
  vertical-align: middle;
}

.line1 {
    width: 112px;
    height: 47px;
    border-bottom: 1px solid red;
    -webkit-transform:
        translateY(-20px)
        translateX(5px)
        rotate(27deg);
    position: absolute;
    /* top: -20px; */
}
.line2 {
    width: 112px;
    height: 47px;
    border-bottom: 1px solid green;
    -webkit-transform:
        translateY(20px)
        translateX(5px)
        rotate(-26deg);
    position: absolute;
    top: -33px;
    left: -13px;
}
